{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

{% for product in products %}
<a href="{% url 'product_detail' product.id %}" style="text-decoration: none; color: inherit;">
    <div class="card" style="width: 16rem;">
        <img src="{{ product.image.url }}" class="card-img-top" alt="produnt-imange">
        <div class="card-body">
            <h5>{{product.title}}</h5>
            <h5 class="">{{product.price}}</h5>
            <p class="">{{ product.description|truncatewords:10 }}</p>
            <a href="#" class="btn btn-primary">Add to Card</a>
        </div>
    </div>

</a>
{% endfor %}


{% endblock %}